$fg-dark: #333;
$fg-light: #999;
$bg-light: #fff;
$bg-dark: #dfdfdf;
$bg-medium: mix($bg-light, $bg-dark, 50%);
$highlight: #DA5B54;
$link: #40b0f0;
$facebook: #3b5998;	
$twitter: #00aced;

$prefixes: webkit moz ms o;

@mixin prefixed-property($property, $value){
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: #{$value};
    }
    #{$property}: #{$value};
}

@mixin button($fg-color, $bg-color, $height: 6, $active-height: 2){
	background: $bg-color;
	border-radius: 3px;
	border: 0;

	$shadows: ();
	@for $i from 1 through $height {
		$shadows: append($shadows, #{$i}px #{$i - 1}px desaturate(darken($bg-color, 20%), 20%), comma);
		$shadows: append($shadows, #{$i - 1}px #{$i}px desaturate(darken($bg-color, 10%), 10%), comma);
	}
	box-shadow: $shadows;

	color: $fg-color;
	font-family: "futura-pt", sans-serif;
	margin-bottom: #{$height}px;

	&:hover {
		color: $fg-color;
	}

	&:active {
		@include prefixed-property(transform, translate(#{$height - $active-height}px, #{$height - $active-height}px));
		
		$shadows: ();
		@for $i from 1 through $active-height {
			$shadows: append($shadows, #{$i}px #{$i - 1}px desaturate(darken($bg-color, 20%), 20%), comma);
			$shadows: append($shadows, #{$i - 1}px #{$i}px desaturate(darken($bg-color, 10%), 10%), comma);
		}
		box-shadow: $shadows;
	}
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.lt-ie8 .cf {
    *zoom: 1;
}

::selection {
	background: $highlight;
	color: $bg-light;
}

::-moz-selection {
	background: $highlight; /* Firefox */
	color: $bg-light;
}

body {
	font-family: "ff-tisa-web-pro", serif;
	font-size: 22px;
	color: $fg-dark;
	padding-top: 5px;
}

img {
	display: block;
}

.top-bar {
	position: fixed;
	top: 0; right: 0; left: 0;
	height: 5px;
	background: $highlight;
	z-index: 999;
}

p {
	margin: 0;
}

a {
	color: $link;
	text-decoration: none;
	transition: color 0.2s linear;
}

a:hover {
	color: $highlight;
}

a.loading,
a.loading:hover {
	color: $fg-light;
	cursor: default;
	transition: none;
}

nav {
	font-size: 1.5em;
}

nav ul,
nav li {
	display: inline;
	margin: 0;
	padding: 0;
}

nav li {
	margin-left: 1em;
}

nav li:first-child {
	margin-left: 0;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
	margin: 0;
}

h1 {
	font-size: 2.4em;
	font-weight: normal;
}

h2 {
	font-family: "futura-pt", sans-serif;
	font-size: 2.4em;
}

h3 {
	font-family: "futura-pt", sans-serif;
	font-size: 1.7em;
	padding: 1em 0;
	text-align: center;
}

h4 {
	font-family: "futura-pt", sans-serif;
	font-size: 1.5em;
	margin-bottom: -0.5em;
}

h5 {
	font-family: "futura-pt", sans-serif;
	font-size: 1.2em;
}

h2 a,
h5 a {
	color: inherit;
}

blockquote {
	color: $fg-light;
	font-size: 1.3em;
	margin: 0 1.5em;
	padding-left: 1.5em;
}

blockquote i {
	float: left;
	margin-left: -1.5em;
}

form {
	margin-top: 30px;
}

form input[type=submit] {
	margin-top: 30px;
}

label {
	color: $fg-light;
	font-family: "futura-pt", sans-serif;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
	border-radius: 5px;
	border: 1px solid $fg-light;
	box-sizing: border-box;
	display: block;
	font-family: "ff-tisa-web-pro", serif;
	font-size: 1em;
	margin: 0 0 10px 0;
	padding: 5px 10px;
	width: 100%;
}

button, .button, input[type=submit] {
	@include button($bg-light, $highlight);

	display: inline-block;
	line-height: 100%;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
}

button.facebook, .button.facebook, input[type=submit].facebook {
	@include button($bg-light, $facebook);
}

button.twitter, .button.twitter, input[type=submit].twitter {
	@include button($bg-light, $twitter);
}

button i, .button i, input[type=submit] i {
	padding-right: 5px;
}

nav li {
	position: relative;
}

time {
	color: $fg-light;
	font-family: "futura-pt", sans-serif;
}

.page-header {
	background: $bg-dark;
	font-family: "adelle", sans-serif;
}

.page-header a {
	color: inherit;
}

.page-header a:hover {
	color: $highlight;
}

.page-header .selected {
	color: $highlight;
}

.page-footer {
	background: $bg-dark;
	font-family: "adelle", sans-serif;
	letter-spacing: 1px;
	padding: 1em 2em;
	text-align: center;
}

.page-footer .links a {
	color: $fg-light;
	font-size: 2.7em;
}

.page-footer .links a:hover {
	color: $highlight;
}

.left {
	float: left;
	margin-right: 15px;
}

.right {
	float: right;
	margin-left: 15px;
}

.message {
	background: #ffc;
	border: 1px solid #eeb;
	padding: 10px 20px;
	border-radius: 5px;
	margin-bottom: 30px;
}

.page-body {
	min-height: 400px;
	padding: 2em 1em;
	
}

.constrain {
	margin-left: auto;
	margin-right: auto;
}

.post {
	clear: both;
	margin-top: 5em;
}

.post:first-child {
	margin-top: 0
}

.post .body,
.post .body > * {
	margin-top: 1.5em;
}

.post .body > *:first-child {
	margin-top: 0;
}

.post footer {
	margin-top: 2em;
}

.post .body a {
	font-weight: bold;
}

.post img {
	display: block;
	width: 100%;
}

.load-more {
	display: block;
	font-size: 1.1em;
	margin-top: 1.8em;
	text-align: center;
	width: 100%;
}

#comments,
#comment_form {
	margin-top: 2em;
}

#comment_form h4 {
	margin-bottom: 0.5em;
}

.sad {
	color: $fg-light;
	font-size: 1.1em;
	text-align: center;
}

.comment {
	margin: 1em 0;
	min-height: 3.6em;
	padding: 1em;
}

.comment.alternate {
	background: $bg-medium;
	border-radius: 5px;
}

.comment .avatar {
	float: left;
	width: 3.6em;
	height: 3.6em;
	border-radius: 2.3em;
}

.comment header {
	margin: 0 0 1em 4.6em;
}

.comment .body {
	margin-left: 4.6em;
}

.comment .number {
	color: $link;
	float: right;
	font-weight: normal;
}

.comment .number:hover {
	color: $highlight;
}

.comment time {
	display: block;
}

.about img {
	border-radius: 50%;
}

.about h2 {
	margin-bottom: 30px;
	text-align: center;
}

.prettyprint {
	border-radius: 5px;
	background: $fg-dark;
	overflow-x: auto;
	font-size: 0.8em;
	line-height: 100%;
	padding: 1em;
	color: $bg-light;
}

.footnote {
	color: $fg-light;
	font-size: 0.8em;
}

@media all and (min-width: 971px) {

	h1 {
		float: left;
	}

	nav {
		float: right;
	}

	nav .selected:after {
		content: '';
		position: absolute;
		bottom: -34px;
		left: 50%;
		margin-left: -25px;
		width: 0; 
		height: 0;
		border-left: 25px solid transparent;
		border-bottom: 25px solid $bg-light; 
		border-right: 25px solid transparent; 
	}

	.constrain {
		max-width: 600px;
	}

	.page-header {
		height: 5em;
		line-height: 5em;
		padding: 0 2em;
	}

	.menu-toggle {
		display: none;
	}

	.browse-happy {
		padding: 20px 60px;
	}

	.about img {
		width: 200px;
		height: 200px;
		float: left;
	}

	.about p {
		margin-left: 250px;
	}

	.page-footer {
		line-height: 60px;
	}

	.page-footer .meta {
		float: left;
	}

	.page-footer .links a {
		float: right;
		margin-left: 40px;
	}
}

@media all and (max-width: 970px) and (min-width: 461px) {

	body {
		font-size: 18px;
	}

	h1 {
		font-size: 2.1em;
	}

	nav {
		line-height: 48px;
	}

	nav .selected:after {
		content: '';
		position: absolute;
		bottom: -25px;
		left: 50%;
		margin-left: -20px;
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-bottom: 20px solid $bg-light; 
		border-right: 20px solid transparent; 
	}

	button, .button, input[type=submit] {
		padding: 5px 11px;
	}

	.page-header {
		padding: 1em 0;
		text-align: center;
	}

	.menu-toggle {
		display: none;
	}

	.browse-happy {
		padding: 20px 40px;
	}

	.page-body {
		padding: 1em;
	}

	.constrain {
		max-width: 500px;
	}

	.about img {
		width: 150px;
		height: 150px;
		float: left;
	}

	.about p {
		margin-left: 180px;
	}

	.page-footer .links {
		margin-top: 1em;
	}

	.page-footer .links a {
		margin: 0 10px;
	}
}

@media all and (max-width: 460px) {

	body {
		font-size: 16px;
	}

	h1 {
		font-size: 2.2em;
		float: left;
	}

	nav {
		text-align: right;
	}

	nav ul {
		line-height: 48px;
		margin-top: 20px;
		display: none;
		text-align: center;
	}

	nav ul.show {
		display: block;
	}

	nav li {
		display: block;
		margin: 0;
	}

	nav li a {
		display: block;
		transition: color 0.2s linear, background 0.2s linear;
	}

	nav li a:hover {
		background: #ccc;
	}

	button, .button, input[type=submit] {
		padding: 5px 11px;
	}

	.page-header {
		line-height: 40px;
		padding: 1.3em 1em;
		text-align: center;
	}

	.page-body {
		padding: 0.8em;
	}

	.browse-happy {
		padding: 20px;
	}

	.about img {
		width: 130px;
		height: 130px;
		margin: 0 auto 20px auto;
	}

	.about h2 {
		text-align: center;
	}

	.button.no-text-mobile {
		width: 20px;
		text-align: center;
	}

	.button.no-text-mobile i {
		padding-right: 0;
	}

	.button.no-text-mobile span {
		display: none;
	}

	.page-footer .links {
		margin-top: 1em;
	}

	.page-footer .links a {
		margin: 0 10px;
	}
}