$fg-lightest: #ccc;
$fg-light: #afafaf;
$fg-medium: #999;
$fg-header: #666;
$fg-dark: #333;

$bg-light: #fff;
$bg-medium: #f2f2f2;
$bg-dark: darken($bg-light, 15%);

$border-medium: #e4e4e4;

$theme: #da5b54;
$notice: #ffc;
$facebook: #3b5998;
$twitter: #00aced;

$prefixes: webkit moz ms o;

$header-font: brandon-grotesque, sans-serif;
$body-font: ff-tisa-web-pro, serif;

@mixin prefix($property, $value){
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: #{$value};
    }
    #{$property}: #{$value};
}

@mixin button($fg-color, $bg-color, $height: 6, $active-height: 2){
	background: $bg-color;
	border: 0;
	color: $fg-color;
	font-family: $header-font !important;
	margin-bottom: #{$height}px;

	$shadows: ();
	@for $i from 1 through $height {
		$shadows: append($shadows, #{$i}px #{$i - 1}px desaturate(darken($bg-color, 20%), 20%), comma);
		$shadows: append($shadows, #{$i - 1}px #{$i}px desaturate(darken($bg-color, 10%), 10%), comma);
	}
	@include prefix(box-shadow, $shadows);

	&:hover {
		color: $fg-color;
	}

	&:active {
		@include prefix(transform, translate(#{$height - $active-height}px, #{$height - $active-height}px));

		$shadows: ();
		@for $i from 1 through $active-height {
			$shadows: append($shadows, #{$i}px #{$i - 1}px desaturate(darken($bg-color, 20%), 20%), comma);
			$shadows: append($shadows, #{$i - 1}px #{$i}px desaturate(darken($bg-color, 10%), 10%), comma);
		}
		@include prefix(box-shadow, $shadows);
	}

	&:after {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: -#{$height}px;
	  bottom: -#{$height}px;
	}

	&:active:after {
	  top: -#{$height - $active-height}px;
	  left: -#{$height - $active-height}px;
	  right: -#{$active-height}px;
	  bottom: -#{$active-height}px;
	}
}

.browse-happy {
	background: #fff;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99999;
	text-align: center;
	padding-top: 200px;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

::selection {
	background: $theme;
	color: $bg-light;
}

/* Firefox */
::-moz-selection {
	background: $theme;
	color: $bg-light;
}

html {
	height: 100%;
}

body {
	color: $fg-dark;
	font-family: $body-font;
	font-size: 19px;
	height: 100%;
	max-width: 1280px;
}

img {
	display: block;
	width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

figcaption {
	color: $fg-light;
	text-align: right;
}

p {
	line-height: 32px;
	margin: 0 0 1em 0;
}

a {
	@include prefix(transition, color 0.2s linear);
	border-bottom: 1px solid $theme;
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: $theme;
}

ul,
li {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	font-family: $header-font;
	font-weight: bold;
	margin: 0;
}

h1 {
	font-size: 1.9em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1.1em;
}

h1 a,
h2 a,
h3 a,
h4 a {
	color: inherit;
}

blockquote {
  background: $bg-medium;
  border-left: 8px solid $fg-light;
  margin: 1.5em 0;
  padding: 0.6em;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: $fg-light;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

form {
	max-width: 950px;
}

label {
	color: $fg-light;
}

textarea {
	resize: vertical;
}

input[type=button],
input[type=submit] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

input[type=text],
input[type=email],
input[type=password],
input[type=search],
textarea {
	@include prefix(box-sizing, border-box);
	background: $bg-medium;
	border-color: $bg-dark;
	border-radius: 0;
	border-style: solid;
	border-width: 0 0 0 6px;
	display: block;
	font-family: $body-font;
	font-size: 1em;
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.8em;
	width: 100%;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus,
textarea:focus {
	border-color: $theme;
	outline: none;
}

input[type=submit] {
	margin-top: 1em;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input[type=search] {
	-webkit-appearance: textfield;
}

button, .button, input[type=submit] {
	@include button($bg-light, $theme);

	display: inline-block;
	line-height: 100%;
	margin-right: 0.8em;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
}

.footnote {
	margin-top: -1.5em;
}

.hidden {
	display: none;
}

.login {
	width: 400px;
	margin: 100px auto;
}

.loading,
.loading:hover {
	color: $fg-light;
	cursor: default;
	@include prefix(transition, none);
}

.page-header,
.page-footer {
	font-family: $header-font;

	a {
		color: inherit;
		border-bottom: none;
	}

	a:hover {
		color: $theme;
	}
}

.left {
	float: left;
	margin-right: 1em;
}

.right {
	float: right;
	margin-left: 1em;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.inline {
	display: inline-block;
}

.message {
	background: $notice;
	border: 1px solid darken($notice, 10%);
	padding: 10px 20px;
	margin-bottom: 30px;
}

.page-body {
	min-height: 50%;

	time,
	footer,
	.footnote {
		color: $fg-light;
		display: block;
		font-size: 1em;
		font-style: italic;
	}

	.post-list {
		li {
			margin-top: 1em;
		}

		time {
			font-size: 0.8em;
			margin-top: 0.2em;
		}
	}
}

.links {
	text-transform: lowercase;
}

.post {
	clear: both;
	margin: 0 auto;

	header {
		margin-bottom: 1.5em;
	}

	time {
		margin-top: -0.5em;
	}

	.body {

		/* Redefine header text for post content */
		h1, h2, h3, h4, h5 {
			font-size: 1.5em;
			margin: 0;
			padding: 0.5em 0;
		}

		/* Space content nicely */
		& > .video-container,
		& > blockquote,
		& > div,
		& > figure,
		& > img,
		& > p,
		& > pre {
			margin-bottom: 2em;
		}
	}
}

.no-results {
	margin-top: 1em;
}

.profile-pic {
	margin-top: 40px;
}

.profile-pic img {
	border-radius: 50%;
	height: 10.5em;
	margin: 0 auto;
	width: 10.5em;
}

.archive {
	margin-top: 1em;

	section {
		margin-top: 3em;
	}

	section:first-child {
		margin-top: 0;
	}

	header {
		float: left;
	}

	header h4 {
		padding: 0;
		margin: 0;
	}

	header h2 {
		color: $fg-light;
	}

	ul {
		float: right;
		list-style: none;
		text-align: right;
	}
}

.tags {
	list-style: none;
	margin-top: 1em;
}

.video-container {
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
}

.video-container iframe {
	height: 100% !important;
	left: 0;
	position: absolute;
	top: 0;
	width: 100% !important;
}

.made-in-idaho {
	width: 70px !important;
	height: 70px !important;
	position: relative;
	font-size: 100%;

	/* 171px 263.5px */
	.idaho {
		-webkit-transform: translate(64.5px, 18.3px) scale(1.0);
		transition: all 0.3s ease-in-out;
		fill: $theme;
	}

	/* 111.2px 171.3px */
	&:hover .idaho {
		-webkit-transform: translate(94.4px, 64.4px) scale(0.65);
	}

	/* 0px 0px */
	.heart {
		-webkit-transform: translate(150px, 175px) scale(0);
		transition: all 0.3s ease-in-out;
		fill: $theme;
	}

	/* 321px 261px */
	&:hover .heart {
		-webkit-transform: translate(0.5px, 44.5px) scale(1.0);
	}

	.heart.inside {
		fill: $bg-light;
	}

	figcaption {
		color: $theme;
		height: 65px;
		left: 70px;
		line-height: 70px;
		opacity: 0;
		overflow: hidden;
		padding: 5px 0 0 10px;
		position: absolute;
		text-align: left;
		text-indent: -110px;
		top: 0;
		transition: all 0.3s ease-in-out;
		white-space: nowrap;
		width: 110px;
	}

	&:hover figcaption {
		text-indent: 0;
		opacity: 1;
	}
}

@media all and (min-width: 1024px) {

	.page-header {
		background-color: $bg-medium;
		border-right: 1px solid $border-medium;
		bottom: 0;
		color: #888;
		color: $fg-header;
		font-size: 18px;
		left: 0;
		line-height: 32px;
		max-width: 320px;
		overflow: hidden;
		padding: 40px;
		position: fixed;
		top: 0;
		width: 25%;

		ul {
			list-style: none;
		}

		& > ul {
			bottom: 140px;
			left: 40px;
			overflow: scroll;
			padding-right: 40px;
			position: absolute;
			right: 0;
			top: 40px;
		}

		& > ul > li {
			border-top: 1px solid $border-medium;
			margin-top: 20px;
			padding-top: 20px;
		}

		.page-title {
			border-top: none;
			margin-top: 0;
			padding-top: 0;
			text-align: justify;

			a {
				color: $theme;
				font-weight: bold;
			}
		}

		.links a {
			color: $theme;
		}

		nav {
			li {
				display: block;
			}

			li.selected {
				color: $theme;
				font-weight: bold;
			}
		}
	}

	.made-in-idaho {
		bottom: 36px;
		left: 26px;
		position: absolute;
	}

	.page-body {
		margin-left: calc(25% + 80px);
		padding: 40px;
	}

	.center {
		margin: 0 auto;
		max-width: 600px;
	}

	.page-footer {
		bottom: 0;
		left: 0;
		position: fixed;
		text-align: center;
		font-size: 18px;
	}

	.mobile-only {
		display: none !important;
	}
}

@media all and (max-width: 1023px) {

	body {
		font-size: 17px;
	}

	p {
		line-height: 30px;
	}

	.home {
		float: left;
	}

	.page-header {
		border-bottom: 1px solid $border-medium;
		margin: 0 1em;
		overflow: auto;

		.page-title {
			float: left;
			font-size: 1.1em;
			margin: 1rem 0;

			a {
				color: $theme;
			}
		}
	}

	nav {
		font-family: $header-font;

		label {
			@include prefix(transition, color 0.2s linear);
			color: inherit;
			cursor: pointer;
			display: block;
			float: right;
			font-size: 1.1em;
			margin: 1rem 0;
		}

		label:hover {
			color: $theme;
		}

		ul {
			border-top: 1px solid $border-medium;
			clear: both;
			display: none;
			font-size: 1.1em;
			padding: 0.5em;
			text-align: right;

			a {
				line-height: 32px;
			}
		}

		#menu:checked ~ ul {
			display: block;
		}		
	}

	.page-header h1,
	.center {
		max-width: 550px;
	}

	.page-body {
		padding: 1em;
	}
	
	.page-footer {
		border-top: 1px solid $border-medium;
		margin: 1em 1em 0 1em;
		padding: 1em 0;
		position: relative;

		.made-in-idaho {
			bottom: 18px;
			left: -12px;
			pointer-events: none; /* No room for hover stuff */
			position: absolute;
		}

		.links {
			color: $fg-medium;
			float: left;
			padding-left: 60px;
			text-align: left;

			a {
				color: $fg-dark;
			}

			a:hover {
				color: $theme;
			}
		}
	}

	.desktop-only {
		display: none !important;
	}
}