/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.lt-ie8 .cf {
  *zoom: 1; }

body {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 22px;
  color: #333333;
  padding-top: 5px; }

img {
  display: block; }

.top-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 5px;
  background: #e34f49;
  z-index: 999; }

p {
  margin: 0; }

a {
  color: #40b0f0;
  text-decoration: none;
  transition: color 0.2s linear; }

a:hover {
  color: #e34f49; }

a.loading,
a.loading:hover {
  color: #999999;
  cursor: default;
  transition: none; }

nav {
  font-size: 1.5em; }

nav ul, li {
  display: inline;
  margin: 0;
  padding: 0; }

nav li {
  margin-left: 1em; }

nav li:first-child {
  margin-left: 0; }

h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin: 0; }

h1 {
  font-size: 2.4em;
  font-weight: normal; }

h2 {
  font-family: "futura-pt", sans-serif;
  font-size: 2.4em; }

h3 {
  font-family: "futura-pt", sans-serif;
  font-size: 1.7em;
  padding-top: 1em;
  text-align: center; }

h4 {
  font-family: "futura-pt", sans-serif;
  font-size: 1.5em;
  margin-bottom: -0.5em; }

h5 {
  font-family: "futura-pt", sans-serif;
  font-size: 1.2em; }

h2 a,
h5 a {
  color: inherit; }

blockquote {
  color: #999999;
  font-size: 1.3em;
  margin: 0 1.5em;
  padding-left: 1.5em; }

blockquote i {
  float: left;
  margin-left: -1.5em; }

form {
  margin-top: 30px; }

form input[type=submit] {
  margin-top: 30px; }

label {
  color: #999999;
  font-family: "futura-pt", sans-serif; }

input[type=text],
input[type=email],
input[type=password],
textarea {
  border-radius: 5px;
  border: 1px solid #999999;
  box-sizing: border-box;
  display: block;
  font-family: "ff-tisa-web-pro", serif;
  font-size: 1em;
  margin: 0 0 10px 0;
  padding: 5px 10px;
  width: 100%; }

button, .button, input[type=submit] {
  background: #e34f49;
  border-radius: 3px;
  border: 0;
  box-shadow: 1px 0px #98322e, 0px 1px #bf3f3a, 2px 1px #98322e, 1px 2px #bf3f3a, 3px 2px #98322e, 2px 3px #bf3f3a, 4px 3px #98322e, 3px 4px #bf3f3a, 5px 4px #98322e, 4px 5px #bf3f3a, 6px 5px #98322e, 5px 6px #bf3f3a;
  color: white;
  font-family: "futura-pt", sans-serif;
  margin-bottom: 6px;
  display: inline-block;
  line-height: 100%;
  padding: 6px 12px;
  position: relative;
  text-decoration: none; }
  button:hover, .button:hover, input[type=submit]:hover {
    color: white; }
  button:active, .button:active, input[type=submit]:active {
    -webkit-transform: translate(4px, 4px);
    -moz-transform: translate(4px, 4px);
    -ms-transform: translate(4px, 4px);
    -o-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
    box-shadow: 1px 0px #98322e, 0px 1px #bf3f3a, 2px 1px #98322e, 1px 2px #bf3f3a; }

button.facebook, .button.facebook, input[type=submit].facebook {
  background: #3b5998;
  border-radius: 3px;
  border: 0;
  box-shadow: 1px 0px #293244, 0px 1px #3d4963, 2px 1px #293244, 1px 2px #3d4963, 3px 2px #293244, 2px 3px #3d4963, 4px 3px #293244, 3px 4px #3d4963, 5px 4px #293244, 4px 5px #3d4963, 6px 5px #293244, 5px 6px #3d4963;
  color: white;
  font-family: "futura-pt", sans-serif;
  margin-bottom: 6px; }
  button.facebook:hover, .button.facebook:hover, input[type=submit].facebook:hover {
    color: white; }
  button.facebook:active, .button.facebook:active, input[type=submit].facebook:active {
    -webkit-transform: translate(4px, 4px);
    -moz-transform: translate(4px, 4px);
    -ms-transform: translate(4px, 4px);
    -o-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
    box-shadow: 1px 0px #293244, 0px 1px #3d4963, 2px 1px #293244, 1px 2px #3d4963; }

button.twitter, .button.twitter, input[type=submit].twitter {
  background: #00aced;
  border-radius: 3px;
  border: 0;
  box-shadow: 1px 0px #0d5c7a, 0px 1px #137fa7, 2px 1px #0d5c7a, 1px 2px #137fa7, 3px 2px #0d5c7a, 2px 3px #137fa7, 4px 3px #0d5c7a, 3px 4px #137fa7, 5px 4px #0d5c7a, 4px 5px #137fa7, 6px 5px #0d5c7a, 5px 6px #137fa7;
  color: white;
  font-family: "futura-pt", sans-serif;
  margin-bottom: 6px; }
  button.twitter:hover, .button.twitter:hover, input[type=submit].twitter:hover {
    color: white; }
  button.twitter:active, .button.twitter:active, input[type=submit].twitter:active {
    -webkit-transform: translate(4px, 4px);
    -moz-transform: translate(4px, 4px);
    -ms-transform: translate(4px, 4px);
    -o-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
    box-shadow: 1px 0px #0d5c7a, 0px 1px #137fa7, 2px 1px #0d5c7a, 1px 2px #137fa7; }

button i, .button i, input[type=submit] i {
  padding-right: 5px; }

nav li {
  position: relative; }

time {
  color: #999999;
  font-family: "futura-pt", sans-serif; }

.page-header {
  background: #dfdfdf;
  font-family: "adelle", sans-serif; }

.page-header a {
  color: inherit; }

.page-header a:hover {
  color: #e34f49; }

.page-header .selected {
  color: #e34f49; }

.page-footer {
  background: #dfdfdf;
  font-family: "adelle", sans-serif;
  letter-spacing: 1px;
  padding: 1em 2em;
  text-align: center; }

.page-footer .links a {
  color: #999999;
  font-size: 2.7em; }

.page-footer .links a:hover {
  color: #e34f49; }

.left {
  float: left;
  margin-right: 15px; }

.right {
  float: right;
  margin-left: 15px; }

.message {
  background: #ffc;
  border: 1px solid #eeb;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 30px; }

.page-body {
  min-height: 400px;
  padding: 2em 1em; }

.constrain {
  margin-left: auto;
  margin-right: auto; }

.post {
  clear: both;
  margin-top: 5em; }

.post:first-child {
  margin-top: 0; }

.post .body,
.post .body > * {
  margin-top: 1.5em; }

.post .body > *:first-child {
  margin-top: 0; }

.post footer {
  margin-top: 2em; }

.post .body a {
  font-weight: bold; }

.post img {
  display: block;
  width: 100%; }

.load-more {
  display: block;
  font-size: 1.1em;
  margin-top: 1.8em;
  text-align: center;
  width: 100%; }

#comments {
  margin-top: 2em; }

.comment {
  min-height: 80px;
  padding: 30px 0; }

.comment .avatar {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-top: 10px; }

.comment header {
  margin: 0 0 10px 100px; }

.comment .body {
  margin-left: 100px; }

.comment .number {
  color: #40b0f0;
  float: right;
  font-weight: normal; }

.comment .number:hover {
  color: #e34f49; }

.comment time {
  display: block; }

.about img {
  border-radius: 50%; }

.about h2 {
  margin-bottom: 30px; }

.prettyprint {
  border-radius: 5px;
  background: #333333;
  overflow-x: auto;
  font-size: 0.8em;
  line-height: 100%;
  padding: 1em;
  color: white; }

.footnote {
  color: #999999;
  font-size: 0.8em; }

@media all and (min-width: 971px) {
  h1 {
    float: left; }

  nav {
    float: right; }

  nav .selected:after {
    content: '';
    position: absolute;
    bottom: -34px;
    left: 50%;
    margin-left: -25px;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-bottom: 25px solid white;
    border-right: 25px solid transparent; }

  .constrain {
    max-width: 600px; }

  .page-header {
    height: 5em;
    line-height: 5em;
    padding: 0 2em; }

  .menu-toggle {
    display: none; }

  .browse-happy {
    padding: 20px 60px; }

  .about img {
    width: 200px;
    height: 200px;
    float: left; }

  .about p {
    margin-left: 250px; }

  .page-footer {
    line-height: 60px; }

  .page-footer .meta {
    float: left; }

  .page-footer .links a {
    float: right;
    margin-left: 40px; } }
@media all and (max-width: 970px) and (min-width: 461px) {
  body {
    font-size: 18px; }

  h1 {
    font-size: 2.1em; }

  nav {
    line-height: 48px; }

  nav .selected:after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-bottom: 20px solid white;
    border-right: 20px solid transparent; }

  button, .button, input[type=submit] {
    padding: 5px 11px; }

  .page-header {
    padding: 1em 0;
    text-align: center; }

  .menu-toggle {
    display: none; }

  .browse-happy {
    padding: 20px 40px; }

  .constrain {
    max-width: 500px; }

  .about img {
    width: 150px;
    height: 150px;
    float: left; }

  .about p {
    margin-left: 180px; }

  .page-footer .links {
    margin-top: 1em; }

  .page-footer .links a {
    margin: 0 10px; } }
@media all and (max-width: 460px) {
  body {
    font-size: 16px; }

  h1 {
    font-size: 2.2em;
    float: left; }

  nav {
    text-align: right; }

  nav ul {
    line-height: 48px;
    margin-top: 20px;
    display: none;
    text-align: center; }

  nav ul.show {
    display: block; }

  nav li {
    display: block;
    margin: 0; }

  nav li a {
    display: block;
    transition: color 0.2s linear, background 0.2s linear; }

  nav li a:hover {
    background: #ccc; }

  button, .button, input[type=submit] {
    padding: 5px 11px; }

  .page-header {
    line-height: 40px;
    padding: 1.3em 1em;
    text-align: center; }

  .page-body {
    padding: 0.8em; }

  .browse-happy {
    padding: 20px; }

  .about img {
    width: 130px;
    height: 130px;
    margin: 0 auto 20px auto; }

  .about h2 {
    text-align: center; }

  .button.no-text-mobile {
    width: 20px;
    text-align: center; }

  .button.no-text-mobile i {
    padding-right: 0; }

  .button.no-text-mobile span {
    display: none; }

  .page-footer .links {
    margin-top: 1em; }

  .page-footer .links a {
    margin: 0 10px; } }
