/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.lt-ie8 .cf {
    *zoom: 1;
}

body {
	font-size: 20px;
	color: #333;
	font-family: serif;
	padding-top: 5px;
}

img {
	display: block;
}

#top_bar {
	position: fixed;
	top: 0; right: 0; left: 0;
	height: 5px;
	background: #e34f49;
	z-index: 999;
}

p {
	margin: 0;
}

a {
	color: #40b0f0;
	text-decoration: none;
	transition: color 0.2s linear;
}

a:hover {
	color: #e34f49;
}

nav ul, li {
	display: inline;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: normal;
	margin: 0;
}

h2, h3 {
	font-size: 56px;
	margin: 0;
	font-weight: bold;
	font-family: sans-serif;
}

h3 {
	text-align: center;
	font-size: 46px;
	margin-bottom: 20px;
}

h2 a {
	color: inherit;
}

blockquote {
	margin: 0 40px;
	border-left: 8px solid #888;
	padding: 10px 20px;
	background: #EEE;
}

header {
	background: #dfdfdf;
	/*letter-spacing: 1px;
	color: #555;

	background-color:#E0E0E0;
	background-image: linear-gradient(30deg, #E6E6E6 12%, transparent 12.5%, transparent 87%, #E6E6E6 87.5%, #E6E6E6),
	linear-gradient(150deg, #E6E6E6 12%, transparent 12.5%, transparent 87%, #E6E6E6 87.5%, #E6E6E6),
	linear-gradient(30deg, #E6E6E6 12%, transparent 12.5%, transparent 87%, #E6E6E6 87.5%, #E6E6E6),
	linear-gradient(150deg, #E6E6E6 12%, transparent 12.5%, transparent 87%, #E6E6E6 87.5%, #E6E6E6),
	linear-gradient(60deg, #ECECEC 25%, transparent 25.5%, transparent 75%, #ECECEC 75%, #ECECEC), 
	linear-gradient(60deg, #ECECEC 25%, transparent 25.5%, transparent 75%, #ECECEC 75%, #ECECEC);
	background-size:80px 140px;
	background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;*/
}

header a {
	color: inherit;
}

header .selected {
	color: #e34f49;
}

footer {
	background: #dfdfdf;
	letter-spacing: 1px;
}

button, .button, input[type=submit] {
	line-height: 100%;
	border: 0;
	background: #e34f49;
	color: #fff !important;
	padding: 6px 12px;
	text-decoration: none;
	display: inline-block; /* needed for anchors */
	position: relative;
	box-shadow: 1px 0px #963430, 0px 1px #bd413c,
		2px 1px #963430, 1px 2px #bd413c,
		3px 2px #963430, 2px 3px #bd413c,
		4px 3px #963430, 3px 4px #bd413c,
		5px 4px #963430, 4px 5px #bd413c;
	border-radius: 3px;
	margin-bottom: 5px;
}

button:active, .button:active, input[type=submit]:active {
	-webkit-transform: translate(3px, 3px);
	box-shadow: 1px 0px #963430, 0px 1px #bd413c,
		2px 1px #963430, 1px 2px #bd413c;
}

button.left, .button.left, input[type=submit].left {
	float: left;
	margin-right: 15px;
}

button.right, .button.right, input[type=submit].right {
	float: right;
	margin-left: 15px;
}

button.facebook, .button.facebook, input[type=submit].facebook {
	background: #3b5998;
	box-shadow: 1px 0px #1E2D4C, 0px 1px #2D4373,
		2px 1px #1E2D4C, 1px 2px #2D4373,
		3px 2px #1E2D4C, 2px 3px #2D4373,
		4px 3px #1E2D4C, 3px 4px #2D4373,
		5px 4px #1E2D4C, 4px 5px #2D4373;
}

button.facebook:active, .button.facebook:active, input[type=submit].facebook:active {
	-webkit-transform: translate(3px, 3px);
	box-shadow: 1px 0px #1E2D4C, 0px 1px #2D4373,
		2px 1px #1E2D4C, 1px 2px #2D4373;
}

button.twitter, .button.twitter, input[type=submit].twitter {
	background: #00ACED;
	box-shadow: 1px 0px #0075A1, 0px 1px #0090C7,
		2px 1px #0075A1, 1px 2px #0090C7,
		3px 2px #0075A1, 2px 3px #0090C7,
		4px 3px #0075A1, 3px 4px #0090C7,
		5px 4px #0075A1, 4px 5px #0090C7;
}

button.twitter:active, .button.twitter:active, input[type=submit].twitter:active {
	-webkit-transform: translate(3px, 3px);
	box-shadow: 1px 0px #0075A1, 0px 1px #0090C7,
		2px 1px #0075A1, 1px 2px #0090C7;
}

button i, .button i, input[type=submit] i {
	padding-right: 5px;
}

#content > *:first-child,
.post .body > *:first-child {
	margin-top: 0;
}

nav li {
	position: relative;
}

.time {
	color: #888;
	font-family: sans-serif;
}

.post {
	clear: both;
}

.post .body {
	margin-top: 20px;
}

.post .body a {
	font-weight: bold;
}

.post .body > * {
	margin-top: 30px;
}

.post .footer {
	margin-top: 30px;
}

.post img {
	display: block;
	width: 100%;
}

#comments form {
	margin-top: 30px;
}

#comments form input[type=submit] {
	margin-top: 30px;
}

.comment {
	min-height: 80px;
	padding: 30px 0;
}

.comment .avatar {
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	margin-top: 10px;
}

.comment .commenter {
	font-weight: bold;
}

.comment .commenter a {
	font-weight: normal;
	float: right;
}

.comment .header {
	margin: 0 0 10px 100px;
}

.comment .body {
	margin-left: 100px;
}

.about img {
	border-radius: 50%;
}

label {
	color: #999;
}

input[type=text],
input[type=password],
textarea {
	width: 100%;
	border: 1px solid #999;
	padding: 0px 5px;
	display: block;
	box-sizing: border-box;
	margin: 0 0 10px 0;
}

@media all and (min-width: 971px) {

	input[type=text],
	input[type=password],
	textarea {
		font-size: 22px;
	}

	.constrain.max {
		margin-left: 0;
		margin-right: 0;
		padding-left: 60px;
		padding-right: 60px;
		max-width: 1300px;
	}

	.constrain.max.square {
		padding: 60px;
	}

	.constrain.min {
		margin-left: auto;
		margin-right: auto;
		padding-left: 30px;
		padding-right: 30px;
		width: 600px;
	}

	.constrain.min.square {
		padding: 30px;
	}

	h1 {
		font-size: 54px;
		float: left;
	}

	header {
		padding-bottom: 25px;
		padding-top: 25px;
		position: relative;
	}

	nav {
		line-height: 72px;
		float: right;
		font-size: 33px;
	}

	nav li {
		margin-left: 25px;
	}

	nav .selected:after {
		content: '';
		position: absolute;
		bottom: -40px;
		left: 50%;
		margin-left: -25px;
		width: 0; 
		height: 0; 
		border-left: 25px solid transparent;
		border-bottom: 25px solid #FFF; 
		border-right: 25px solid transparent; 
	}

	.menu-toggle {
		display: none;
	}

	.browse-happy {
		padding: 20px 60px;
	}

	#content {
		min-height: 400px;
	}

	#comments {
		margin-top: 60px;
	}

	.post {
		margin-top: 90px;
	}

	.post .body {
		line-height: 35px;
	}

	.commenter {
		font-size: 24px;
	}

	.about img {
		width: 200px;
		height: 200px;
		float: left;
	}

	.about p {
		margin-left: 250px;
	}

	footer {
		text-align: center;
	}
}

@media all and (max-width: 970px) and (min-width: 481px) {

	input[type=text],
	input[type=password],
	textarea {
		font-size: 20px;
	}

	.constrain.max {
		margin-left: 0;
		margin-right: 0;
		padding-left: 30px;
		padding-right: 30px;
	}

	.constrain.max.square {
		padding: 30px;
	}

	.constrain.min {
		margin-left: auto;
		margin-right: auto;
		max-width: 500px;
		padding-left: 0;
		padding-right: 0;
	}

	.constrain.min.square {
		padding-bottom: 30px;
		padding-top: 30px;
	}

	body {
		font-size: 18px;
		padding-top: 3px;
	}

	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 46px;
	}

	h3 {
		font-size: 36px;
	}

	header {
		position: relative;
		padding-bottom: 20px;
		padding-top: 20px;
		text-align: center;
	}

	nav {
		line-height: 48px;
		font-size: 24px;
	}

	nav li {
		margin-left: 25px;
	}

	nav .selected:after {
		content: '';
		position: absolute;
		bottom: -29px;
		left: 50%;
		margin-left: -20px;
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-bottom: 20px solid #FFF; 
		border-right: 20px solid transparent; 
	}

	.menu-toggle {
		display: none;
	}

	#top_bar {
		height: 3px;
	}

	.browse-happy {
		padding: 20px 40px;
	}

	#content {
		min-height: 400px;
	}

	#comments {
		margin-top: 60px;
	}

	.commenter {
		font-size: 22px;
	}

	.post {
		margin-top: 70px;
	}

	.about img {
		width: 150px;
		height: 150px;
		float: left;
	}

	.about p {
		margin-left: 180px;
	}

	button, .button, input[type=submit] {
		padding: 5px 11px;
	}
}

@media all and (max-width: 480px) {

	input[type=text],
	input[type=password],
	textarea {
		font-size: 18px;
	}

	.constrain.max {
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px;
		padding-right: 20px;
	}

	.constrain.max.square {
		padding: 20px;
	}

	.constrain.min {
		padding-left: 0;
		padding-right: 0;
	}

	.constrain.min.square {
		padding-bottom: 20px;
		padding-top: 20px;
	}

	body {
		font-size: 16px;
		padding-top: 3px;
	}

	h1 {
		font-size: 32px;
		float: left;
	}

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 26px;
	}

	header {
		position: relative;
		padding-bottom: 20px;
		padding-top: 20px;
		text-align: center;
	}

	nav {
		line-height: 48px;
		font-size: 24px;
		text-align: right;
	}

	nav ul {
		margin-top: 20px;
		display: none;
		text-align: center;
	}

	nav ul.show {
		display: block;
	}

	nav li {
		display: block;
	}

	nav li a {
		display: block;
		transition: color 0.2s linear, background 0.2s linear;
	}

	nav li a:hover {
		background: #ccc;
	}

	#top_bar {
		height: 3px;
	}

	.browse-happy {
		padding: 20px;
	}

	#content {
		min-height: 400px;
	}

	#comments {
		margin-top: 40px;
	}

	.commenter {
		font-size: 20px;
	}

	.post {
		margin-top: 50px;
	}

	.about img {
		width: 130px;
		height: 130px;
		margin: 0 auto 20px auto;
	}

	button, .button, input[type=submit] {
		padding: 4px 10px;
		font-size: 15px;
	}
}