<div class="center top-links">
	<a href="/blog/tags" class="button"><i class="icon-double-angle-left"></i> All tags</a>
</div>
<h2 class="center"><%= @tag.name %></h2>
<ul class="center tags cf">
	<% @tag.posts.where('published_at IS NOT NULL').order('published_at DESC').each do |post| %>
		<li><a href="<%= post.link %>"><%= post.title %></a></li>
	<% end %>
</ul>