<h2>New Post</h2>
<form action="/posts" method="post">
  <label for="post_title">Title:</label>
  <input id="post_title" name="post[title]" type="text" onkeyup="enforceUrlFriendly(this, document.getElementById('post_reference_id'))" />
  <label for="post_reference_id">Reference Id:</label>
  <input id="post_reference_id" name="post[reference_id]" type="text" onkeyup="enforceUrlFriendly(this, this, false)" onblur="enforceUrlFriendly(this, this)" />
  <label for="post_body">Body:</label>
  <textarea id="post_body" name="post[body]" rows="20"><%= @post.body %></textarea>
  <input type="submit" value="Create Post" />
</form>