<% post ||= @post %>
<div class="header">
	<h2><a href="<%= post.link %>"><%= post.title %></a></h2>
	<div class="time"><i class="icon-time"></i> <%= post.created_at.strftime("%B %-d, %Y") %></div>
</div>
<div class="body"><%= post %></div>