<% post ||= @post %>
<div class="post constrain min">
	<%= erb :'posts/post' %>
	<div class="footer cf">
		<a class="button twitter left" href="#"><i class="icon-twitter"></i> Twitter</a>
		<a class="button facebook left" href="#"><i class="icon-facebook"></i> Facebook</a>
	</div>
</div>
<div id="comments" class="constrain min">
	<h3>Comments</h3>
	<% post.comments.order('created_at ASC').each do |comment| %>
		<div class="comment">
			<%= erb :'comments/comment', locals: {comment: comment} %>
		</div>
	<% end %>
	<%= erb :'comments/form', locals: {post: post} %>
</div>