<% post ||= @post %>
<a class="button" href="/blog">Back to all posts</a>
<div class="post">
	<%= erb :'posts/post' %>
</div>
<div id="comments">
	<h3>Comments</h3>
	<% post.comments.each do |comment| %>
		<div class="comment">
			<%= erb :'comments/comment', locals: {comment: comment} %>
		</div>
	<% end %>
	<%= erb :'comments/form', locals: {post: post} %>
</div>
<a class="button" href="/blog">Back to all posts</a>
