<div class="about constrain min">
	<h2>Some Things About Me</h2>
	<img src="/img/jillandi.jpg" title="Jill and I" />
	<p>My name is Elliot Dickison. I'm an Idaho boy, married to a <a href="http://open.spotify.com/track/4Hb8owM4GgrgHI7SL8iJW5" target="spotify">Colorado girl</a>. I love Jesus, Jill, skiing, and programming. I like trees and rivers. <a href="#">This</a> is my favorite animal. By trade I'm a full stack web developer. I work with an amazing group of people at <a href="http://www.economicmodeling.com" target="emsi">Economic Modeling Specialists International</a>.<p>
</div>