<div class="center">
	<h1>About</h1>
	<p>Well, you asked for it. I'm an Idaho boy, married to a <a href="http://jayloizeaux.wordpress.com">Colorado girl</a>. I love Jesus, Jill (that'd be the CO girl), skiing, and programming. I like canoeing, camping, and mowing the lawn. I'm a full-stack web developer, currently working with an amazing group of people at <a href="http://www.economicmodeling.com">Economic Modeling Specialists International</a>.</p>
	<figure class="profile-pic">
		<img src="/img/jillandme.jpg" title="Jill and Me" class="profile-pic" />
	</figure>
</div>