<div class="center">
	<h3>Hola, my name is Elliot.</h3>
	<p>I'm an Idaho boy, married to a <a href="http://open.spotify.com/track/4Hb8owM4GgrgHI7SL8iJW5" target="spotify">Colorado girl</a>. I love Jesus, Jill, skiing, and programming. I like trees and rivers. By trade I'm a full stack web developer. I work with an amazing group of people at <a href="http://www.economicmodeling.com" target="emsi">Economic Modeling Specialists International</a>.</p>
	<figure class="profile-pic">
		<img src="/img/jillandi.jpg" title="Jill and I" class="profile-pic" />
		<figcaption>Jill and I</figcaption>
	</figure>
</div>