<div class="center">
	<h3>Nothing to See Here...</h3>
	<p>I'm planning on using this space to put up some personal coding projects but I don't have anything to share at the moment. In the meantime, here is a small tortoise eating a strawberry.</p>
	<figure>
		<img src="/img/kevin.jpg" alt="Kevin vs. a Strawberry" />
		<figcaption><a href="http://kevinlovesyou.com" target="kevintortoise">kevinlovesyou.com</a></figcaption>
	</figure>
</div>