<% @message ||= Message.new %>
<div class="center">
	<h1>Contact</h1>
	<%= get_message 'contact_form' %>
	<p><a href="mailto:ejdickison@gmail.com">Shoot me an email</a> or fill out the form below.</p>
	<form action="/contact" method="post">
		<label for="message_name">Name</label><br />
		<input id="message_name" name="message[name]" type="text" value="<%= @message.name %>" required />
		<label for="message_email">Email</label><br />
		<input id="message_email" name="message[email]" type="email" value="<%= @message.email %>" required />
		<label for="message_body">Message</label><br />
		<textarea id="message_body" name="message[body]" rows="10" required ><%= @message.body %></textarea>
		<input type="submit" value="Send" />
	</form>
</div>