<div class="contact constrain min">
	<h2>Get In Touch</h2>
	<p>Feel free to contact me, I'd like to hear from you. Please be my friend! Site feedback (bugs and things) would be appreciated too.</p>
	<form action="/contact" method="post">
		<label for="name">Name:</label><br />
		<input id="name" name="name" type="text" value="" />
		<label for="email">Email:</label><br />
		<input id="email" name="email" type="text" value="" />
		<label for="body">Body:</label><br />
		<textarea id="body" name="body" rows="10"></textarea>
		<input type="submit" value="Send" />
	</form>
</div>