<div class="contact constrain min">
	<%= @message ? '<div class="message">' << @message << '</div>' : '' %>
	<h2>Get In Touch</h2>
	<p>Feel free to contact me about anything. Have a question, comment, or rant? Let's talk.</p>
	<form action="/contact" method="post">
		<label for="name">Name:</label><br />
		<input id="name" name="name" type="text" value="" />
		<label for="email">Email:</label><br />
		<input id="email" name="email" type="text" value="" />
		<label for="body">Body:</label><br />
		<textarea id="body" name="body" rows="10"></textarea>
		<input type="submit" value="Send" />
	</form>
</div>