<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Elliot Dickison</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/img/favicon.png" />

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/app.css">
        
        <script type="text/javascript" src="//use.typekit.net/vmc7ddm.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <div id="top_bar"></div>
        <header class="cf">
            <h1>
                <a href="/blog"><i class="icon-rocket"></i> elliot james</a>
            </h1>
            <nav>
                <% ['blog', 'code', 'about', 'contact'].each do |page| page_sym = page.to_sym%>
                    <a href="/<%= page %>"<%=' class="selected"' if @selected_tab == page_sym %>><%= page %></a>
                <% end %>
            </nav>
        </header>
        <div id="content">
            <%=yield%>
        </div>
        <footer>
            <a href="/code/elliotjames">Hand Made</a> in <a href="#">Idaho</a> by Elliot Dickison
        </footer>
        <script src="/js/app.js"></script>
    </body>
</html>
